#blogs{
	#game{
		background: #EC9600;
		color:white;
		width: 795px;
		height: 485px;
		overflow: hidden;
		img{
			margin-top: 150px;
			height: 100px;
		}

		.start{
			color:white;
			cursor: pointer;
			border-radius:355px 45px 225px 75px/15px 225px 15px 255px;
			font-family: 'Comfortaa';
			border:none;
			width: 130px;
			box-shadow:none;
			background:#D12881;
			font-size: 14px;
			padding:10px;
			transition: all .2s ease;
			&:hover{
				background:white;
				color:#EC9600;
			}
		}

		h1{
			font-family: 'American';
			font-weight: 600;
			
			transition: all .6s ease;
			background:white;
			color:#EC9600;
			display: block;
			padding:10px;
			
			
		}
			.basliq{
				position: absolute;
				top:100px;
				transform: translateX(-500px);
			}
		.shert{
			font-family: 'Comfortaa';
			font-size: 20px;
			position:absolute;
			top:-80px;
			left: 50px;
			transition: all .6s ease;
		}

		.score{
			font-family: 'American';
			font-size:60px;
			position:absolute;
			right: 80px;
			bottom:20px;
			display: none;
			color:white;
		}

		.element{
			padding:10px;
			display: none;
			margin-top: 200px;
			position:absolute;
			height: 130px;
		}
			.gm{
				left: 100px;
			}
			.sm{
				left: 300px;
			}
			.qm{
				left: 500px;
			}

		img{
			transition: all .5s ease;
		}

		// Sual02
		.gt,.yt,.bt{
			display: none;
		}
			.gt{
				left: 100px;
			}
			.yt{

				left: 400px;
			}
			.bt{
				left: 550px;
			}
		
		// Sual03
		.sa,.ya,.qa{
			display: none;
		}
			.sa{
				left: 100px;
			}
			.ya{

				left: 300px;
			}
			.qa{
				left: 550px;
			}


		// Sual04
		.qk,.gk,.ck{
			display: none;
		}
			.qk{
				left: 130px;
			}
			.gk{

				left: 330px;
			}
			.ck{
				left: 580px;
			}


		// Sual05
		.qke,.cke,.bke{
			display: none;
		}
			.qke{
				left: 130px;
			}
			.bke{

				left: 330px;
			}
			.cke{
				left: 580px;
			}


		// Sual06
		.qq,.qiq,.gq{
			display: none;
		}
			.qq{
				left: 130px;
			}
			.qiq{

				left: 330px;
			}
			.gq{
				left: 580px;
			}


		// Sual07
		.gma,.qma,.yma{
			display: none;
		}
			.gma{
				left: 130px;
			}
			.qma{

				left: 330px;
			}
			.yma{
				left: 580px;
			}



		.aferin{
			width: 100%;
			color:#EC9600;
			font-family: 'American';
			font-size: 130px;
			transform:translateY(110px);
			z-index: 99;
			transition: all .5s ease;
			display: none;
		}
	}
}