#blogs{
	#game{
		background: #EC9600;
		color:white;
		width: 795px;
		height: 485px;
		overflow: hidden;
		img{
			margin-top: 150px;
			height: 100px;
		}

		.start{
			color:white;
			cursor: pointer;
			border-radius:355px 45px 225px 75px/15px 225px 15px 255px;
			font-family: 'Comfortaa';
			border:none;
			width: 130px;
			box-shadow:none;
			background:#D12881;
			font-size: 14px;
			padding:10px;
			transition: all .2s ease;
			&:hover{
				background:white;
				color:#EC9600;
			}
		}

		h1{
			font-family: 'American';
			font-weight: 600;
			position: absolute;
			transition: all .6s ease;
			background:white;
			color:#EC9600;
			padding:10px;
			top:100px;
			transform: translateX(-500px);
		}
		.shert{
			font-family: 'Comfortaa';
			font-size: 20px;
			transform: translateY(-500px) translateX(-100px);
			transition: all .6s ease;
			left: 50px;

		}
		.element{
			height: 100px;
			position: absolute;
			top:200px;
			display: none;
			transition: all .4s ease;
		}

				// Xiyarlar
				.xiyarEvvel{
					left: 30px;
					height: 60px;
				}

				.xiyarSonra{
					right: 100px;
					top:50px;
				}

				// Qarpizlar
				.qarpizEvvel{
					left: 300px;
					top:140px;
				}

				.qarpizSonra{
					right: 100px;
					top:250px;
				}

				// Almalar
				.almaEvvel{
					left: 200px;
					top:300px;
				}

				// Tortlar
				.tortEvvel{
					left: 500px;
					top:300px;
				}

				.tortSonra{
					right: 300px;
					top:70px;
				}
	}
}