//Variables
$menuColor:#EC9600;
$headingColor:#D12881;
::selection{
	background:$menuColor;
	color:white;
}
@import 'partials/index/common';
@import 'partials/index/menu';
@import 'partials/index/slider';
@import 'partials/index/autism';
@import 'partials/index/visit';
@import 'partials/index/about';
@import 'partials/index/team';
@import 'partials/index/activities';
@import 'partials/index/games';
@import 'partials/index/blog';
@import 'partials/index/info';
@import 'partials/index/contact';
@import 'partials/index/footer';


@font-face {
	font-family: 'American';
	src: url('../vendor/fonts/AmericanCaptain.eot');
	src: url('../vendor/fonts/AmericanCaptain.eot?#iefix') format('embedded-opentype'),
		url('../vendor/fonts/AmericanCaptain.woff') format('woff'),
		url('../vendor/fonts/AmericanCaptain.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'Comfortaa';
	src: url('../vendor/fonts/Comfortaa-Light.eot');
	src: url('../vendor/fonts/Comfortaa-Light.eot?#iefix') format('embedded-opentype'),
		url('../vendor/fonts/Comfortaa-Light.woff') format('woff'),
		url('../vendor/fonts/Comfortaa-Light.ttf') format('truetype');
	font-weight: 300;
	font-style: normal;
}

.pageMsg{
	background:#34327C;
	color:white;
	font-size:16px;
	padding-top:3px;
	height:30px;
	position: fixed;
	z-index:999;
	font-family:'Comfortaa';
}

.login,.register{
	color:white;
	font-size: 20px;
	padding:5px;
	position: fixed;
	z-index: 999;
	top:200px;
	background: red;
	transform: translateX(-15px);
	transition: all .3s ease;
}
	.login:hover,.register:hover{
		transform: translateX(0px);
		cursor: pointer;
	}
.register{
	background: #34327C;
	top:240px;
}
	.loginPanel,.registerPanel{
		background:#34327C; 
		display: none;
		position: fixed;
		top:200px;
		z-index: 1000;
		text-align:center;
		transform: translateX(50px);
		img{
			height: 150px;
			padding:20px;
			margin:auto;
		}
		.text:first-child{
			margin-top: 0;
		}
		.text{
			border-radius: 15px;
			border:1px solid #CECECE;
			width: 100%;
			margin-top: 15px;
			font-size: 17px;
			font-family: "Comfortaa";
			padding:5px;
		}

		.submit{
			color:white;
			cursor: pointer;
			border-radius:355px 45px 225px 75px/15px 225px 15px 255px;
			font-family: 'Comfortaa';
			border:none;
			background:#D12881;
			font-size: 17px;
			padding:10px;
			margin-top: 15px;
			margin-bottom:15px;
			float: right;
			transition: all .2s ease;
			&:hover{
				background:#EC9600;
			}
		}

		p{
			color:white;
			padding-top:15px;
			z-index: 998;
			&:hover{
				cursor: pointer;
			}
		}
	}
	.registerPanel{
		top:150px;
	}


